/* https://coolors.co/app/1a535c-4ecdc4-f7fff7-ff6b6b-ffe66d */

h1 {
  color: #519E8A;
  font-variant: small-caps;
  text-align: center;
  margin: auto;
  width: 60%;
}

h3 {
  text-align: center;
}

section {
  margin-bottom: 1em;
}

#input {
  margin:auto;
  text-align: center;
}

body {
  background: #F7FFF7;

}

label {
  font-weight: bold;
  font-size: 1.5em;
}

input {
  font-size: 1.2em;
}

.flag {
  max-width: 600px;
  max-height: 450px;
  border: 2px solid black;
  margin: auto;
  display: block;
  margin-top: 1em;
  margin-bottom: 2em;
}

.extra-info {
  padding: 2%;
  margin: 1%;
  display: grid;
  background-color: #1A535C;
  grid-template-areas:
    "name name name"
    "population map map"
    "region map map"
    "capital map map"
}

.name {
  grid-area: name;
  padding: 1%;
  background: #FFE66D;
}

.population, .region, .capital {
  border: 2px solid #4ECDC4;
  padding: 5%;
  width: 80%;
}

.population {
  grid-area: population;
}

.region {
  grid-area: region;
}

.capital {
  grid-area: capital;
}

.extra-info p {
  color: #F7FFF7;
}

.extra-info h2 {
  color: #FF6B6B;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 2.4em;
}

#result {
  display: grid;
}

#mapid {
  min-height: 250px;
  min-width: 300px;
  max-width: 1000px;
  max-height: 800px;
  grid-area: map;
  border: 1px solid #FFE66D;
}
